body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: white;
}

.pg-title {
  border-bottom: 1px solid rgb(46, 45, 45);
  text-align: center;
  padding: 15px;
  font-family: Swanky and Moo Moo;
  font-size: 60px;
}


a, h5 {
  font-family: 'Thasadith', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  font-size: xx-large; 
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}


.grey-background {
  background-color:#f7f7f7;
  padding-bottom: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f7f7f7;
  margin-top: 100px;
}

.footer-text {
  font-family: 'Thasadith', sans-serif;
}




.st {
  width: 275px;
  height: 274px;
  background: url(st.jpg);
  border-radius: 337.5px;
  margin-top: 80px;
}

.hi-text {

  font-family: Swanky and Moo Moo;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #ebd7da;
}

.blerb-text {
  font-weight: bold;
  font-size: large;
  font-family: 'Thasadith', sans-serif;
}

.blerb {
  margin-top: 80px;
  margin-left: 100px;
}

.gallery-container {
  padding-top: 40px;
}

.gallery-row {
  padding-bottom: 50px;
}



.tools-img {
  width: 100%;
  z-index: 0;
}

.cards-header {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Thasadith', sans-serif;
}

.card-deck {
  margin: 30px !important;
}

.card {
  border: none !important;
}

i {
  font-size: 36px;
  color: grey;
}